body{margin: 0; padding: 0;}
html, body, #wrap {height: 100%;}
	body > #wrap {height: auto; min-height: 100%;}
		#header{height:100px;}
		#content {padding-bottom: 100px;}
		#footer {height: 100px; position: relative; margin-top: -60px; clear:both;}
			.data{width: 900px; left: 50%; margin: 0 0 0 -450px; position: relative;}
				.data-header{height:100px;}
				
				.logo{
					display:block;
					float:left;
					margin:10px 0 0 0;
					font-family: 'PT Sans', sans-serif;
					font-size: 48px !important;
					font-weight:normal;
					color:#666666 !important;
					text-decoration:none;
					text-transform:uppercase;
					}	
				.vocation{
					font-family: 'PT Sans', sans-serif;
					font-size: 14px !important;
					font-weight:normal;
					color:#666666 !important;
					text-decoration:none;
                                        text-transform:none !important;
					margin-top: -10px;
					display: block;
					}

				.contacts{margin:12px 0 0 0; padding:0; list-style-type:none; float:right;}
					.contacts li{}
						.contacts img{float:left; margin:0 8px 0 0;}
						.contacts a{overflow:hidden;}
						.contacts span{
							font-family: 'PT Sans', sans-serif;
							font-size: 14px; 
							font-weight:normal;
							color:#666666;
							overflow:hidden;
							}
				.headline{
					font-family: 'PT Sans', sans-serif;
					font-size: 16px !important;
					font-weight:normal;
					color:#333333 !important;
					text-decoration:none;
					text-transform:uppercase;
					float:left; 
					margin:0 25px 0 0;
					}
				.timeline-block{margin:20px 0 0 0;}
					.timeline{margin:0; padding:0; overflow:hidden; list-style-type:none; width: 32%; text-align: justify;}
						.timeline li{display:inline-block;}
					
						.timeline .active a {
									background-color: #EBEBCF;
									padding: 0 4px 2px 4px;
									text-decoration:none;
									color:#333333 !important;
										}
				.showcase{width:100%; text-align: justify;}
					.teaser{height: 260px; vertical-align:top; display:inline-block;}
						.teaser-image{height:200px;}
						.teaser-title{
							width:200px; 
							text-align: center;
							font-family: 'PT Sans', sans-serif;
							font-weight:normal;
							font-size: 14px;
							color:#333333;
							}
							.teaser-title a{text-decoration:none;}
							
				.social{width:125px; margin:42px 50px 0 0; padding:0; list-style-type:none; text-align: justify; float:right;}
					.social li{display:inline-block;}
.border-top{border-top:1px solid #d5d5d5;}
.border-bottom{border-bottom:1px solid #d5d5d5;}
.stick{width:100%; display:inline-block;}
.clear{clear: both;}